[Desktop Entry]
Type=Application
Name=dwm-gnome-flashback
Comment=Improved dynamic tiling window manager
Exec=dwm-gnome-flashback
NoDisplay=true
X-GNOME-WMName=dwm-gnome-flashback
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
